.search-filters {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search-filters select {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  background-color: white;
  transition: var(--transition);
}

.search-filters select:focus {
  outline: none;
  border-color: var(--primary-color);
}
